---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeElse: true
BreakBeforeBraces: Custom
DerivePointerAlignment: false
PointerAlignment: Middle
IncludeBlocks: Preserve
SortIncludes: false
SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 2
Standard: c++17
...
